<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jcalv.evaluacion">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".figuras.Circulo" />
        <activity android:name=".figuras.Ovalo" />
        <activity android:name=".figuras.Cuadrado" />
        <activity android:name=".figuras.DibujoLibre" />
        <activity android:name=".figuras.Triangulo"></activity>
    </application>

</manifest>